@import 'variable.less';
/* 重置浏览器默认样式 start */
body,
div,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// 全局字体
body {
  font-size: @fs16;
}
/* 重置浏览器默认样式 end */